.faq-heading{
padding-left: 2px;
}
.act_img{
    border-radius:50%;
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 1%;
 }
.act_cont{
    text-decoration: none;
    color: aliceblue;
    margin-top: 2%;
}
.img_tm{
    width: 50px;
    height : 50px;
}